* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  outline: none;
}
body{
    background: url("./bg.avif") no-repeat;
    background-size: cover;
} 
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ff0000, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  box-shadow: inset 5px 5px 12px #74b983, 5px 5px 12px rgb(146, 255, 4);
  border: none;
  border-radius: 30px;
  color: rgb(7, 7, 7);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
button {
  color: rgb(7, 7, 7);
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  box-shadow: inset 5px 5px 12px #d31f1f, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 20px;
}
.equal {
  width: 115px;
  border-radius: 40px;
  background-color: #ebf4fa;
  box-shadow: 5px 5px 12px #eb2222, 5px 5px 12px rgb(255, 17, 17);
}
